<a href="https://colab.research.google.com/github/EddyGiusepe/Remember_Statistics_for_Data_Science_with_Python/blob/main/Remember_statistics_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <h2 align='center'>Statistics for Data Science with Python</h2> 


**Cientista de Dados Jr.:**  Dr.Eddy Giusepe Chirinos Isidro

## Importamos as nossas bibliotecas

In [1]:
import numpy as np
import pandas as pd

import scipy.stats
from scipy.stats import ttest_ind, levene, f_oneway, chi2_contingency, pearsonr

import seaborn as sns
import matplotlib.pyplot as plt

## Carregamos nossos Dados

In [2]:
df = pd.read_csv("/content/drive/MyDrive/4_teoria_IA_ML_DL_Eddy/Remember_Statistics_for_Data_Science/teachingratings.csv")
df.head(5)

  minority  age  gender  ... upper_division  English_speaker  tenured_prof
0      yes   36  female  ...              1                1             1
1      yes   36  female  ...              1                1             1
2      yes   36  female  ...              1                1             1
3      yes   36  female  ...              1                1             1
4       no   59    male  ...              1                1             1

[5 rows x 19 columns]

In [3]:
df.shape

(463, 19)

In [4]:
df.describe()

              age        beauty  ...  English_speaker  tenured_prof
count  463.000000  4.630000e+02  ...       463.000000    463.000000
mean    48.365011  6.271140e-08  ...         0.939525      0.779698
std      9.802742  7.886477e-01  ...         0.238623      0.414899
min     29.000000 -1.450494e+00  ...         0.000000      0.000000
25%     42.000000 -6.562689e-01  ...         1.000000      1.000000
50%     48.000000 -6.801430e-02  ...         1.000000      1.000000
75%     57.000000  5.456024e-01  ...         1.000000      1.000000
max     73.000000  1.970023e+00  ...         1.000000      1.000000

[8 rows x 13 columns]

## <font color="orange">T-Test</font>

**Hipótese nula (Null Hypothesis)**: a pontuação da avaliação é independente dos instrutores do sexo feminino e masculino

**Hipótese alternativa (Alternate Hypothesis)**: a pontuação da avaliação depende dos instrutores do sexo feminino e masculino

In [5]:
ttest_ind(df[df["gender"] == "male"]["eval"], df[df["gender"] == "female"]["eval"])

Ttest_indResult(statistic=3.249937943510772, pvalue=0.0012387609449522217)

**Probabilidade de obter uma avaliação de ensino alta ou baixa**

In [6]:
eval_mean = round(df["eval"].mean(), 3)
eval_std = round(df["eval"].std(), 3)

print(eval_mean, eval_std)

3.998 0.555

In [7]:
prob = scipy.stats.norm.cdf((4.5 - eval_mean) / eval_std)
print(1- prob)

0.1828639734596742

## <font color="orange">Levene-Test</font>

**Hipótese nula (Null Hypothesis)**: Variâncias populacionais são iguais

**Hipótese alternativa (Alternate Hypothesis)**: Variâncias populacionais não são iguais

In [8]:
levene(df[df["gender"] == "male"]["eval"], df[df["gender"] == "female"]["eval"], center = "mean")

LeveneResult(statistic=0.1903292243529225, pvalue=0.6628469836244741)

## <font color="orange">ANOVA</font>

**Hipótese nula (Null Hypothesis)**: As amostras têm os mesmos valores médios (mean)

**Hipótese alternativa (Alternate Hypothesis)**: As amostras têm diferentes valores médios (mean)

In [9]:
def group(x):
    if x <= 40:
        return "younger"
    elif x > 40 and x < 57:
        return "middle"
    else:
        return "older"

df["age_group"] = df["age"].apply(group)

**Estatísticas de beleza por faixa etária (por Idade)**

In [10]:
age_stats = df.groupby("age_group")["beauty"].agg(["count", "mean", "std"])
age_stats

           count      mean       std
age_group
middle       228 -0.035111  0.686637
older        122 -0.245777  0.740720
younger      113  0.336196  0.913748